body {
  margin: 0;
  background: #101827;
  color: white;
  font-family: Arial, sans-serif;
}

main {
  width: min(850px, 88%);
  margin: auto;
  padding: 70px 0;
}

h1 {
  color: #66d9ff;
  font-size: 3rem;
}

h2 {
  margin-top: 45px;
  color: #66d9ff;
}

section {
  padding: 20px 0;
  border-bottom: 1px solid #334155;
}

a {
  color: #66d9ff;
}